img{
    width: 200px;
    height: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
#grid-item {
  background-color: rgba(71, 70, 138, 0.8);
  border: 1px solid rgba(247, 248, 250, 0.8);
  padding: 5px;
  font-size: 12px;
  text-align: center;
}


/* Chat containers */
/* .chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  } */
  
  /* Darker chat container */
  /* .darker {
    border-color: #ccc;
    background-color: #ddd;
  } */
  
  /* Clear floats */
  /* .chat-container::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  /* Style images */
  /* .chat-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  } */
  
  /* Style the right image */
  /* .chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  } */
  
  /* Style time text */
  /* .time-right {
    float: right;
    color: #aaa;
  } */
  
  /* Style time text */
  /* .time-left {
    float: left;
    color: #999;
  } */

  .chat-wrapper{
    width: 100px;
  }

  .image-container{
    text-align: center;
    border-top: 20px;
  }

  #shooting{
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px;
  }

  button {
    background: lightgray;
    color: #fff;
    border: 1px solid black; 
    border-radius: 5px;
    /* padding: 15px; */
    display: block;
    width: 100px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    font-family: 'Raleway', sans-serif;
}