
  body{
    background-color: #070606;
}

img{
    width: 200px;
    height: auto;

}

.logo{
    margin-left: 40%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #070606;
  padding: 10px;
}

.filtered-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #070606;
    padding: 10px;
}


#grid-item {
  background-color: #070606;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

  .chat-wrapper{
    width: 100px;
  }

  .image-container{
    text-align: center;
    border-top: 20px;
  }



  button {
    background: lightgray;
    color: #fff;
    border: 1px solid black; 
    border-radius: 5px;
    /* padding: 15px; */
    display: block;
    width: 100px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    font-family: 'Raleway', sans-serif;
}

#gender, #age, #beauty, #ethnicity{
  height: 30px;
}

#filterDiv{
  display: inline;
}

  .grid-container::after {
    content: "";
    clear: both;
    display: table;
  }

  .card-body{
      color:white;
  }



.nav-item{
    padding: 5px;
}

#filter{
    padding: 3px;
}

input{
  font-family: "raleway";
  border-radius: 5px;
  background-color: white;
}

#upload-button, #logout-user{
  padding: 3px;
}

p {
  font-family: "raleway";
}

ul {
  text-align: center;
}

li {
  text-align: left;
  font-family: "raleway";
}

/* Ipad */
@media only screen and (max-width: 768px) {

  #grid-item{
    width: 14rem !important;
}

}